.section-characters {
    background-color: var(--color-l-black);
}

.section-characters h2 {
    color: var(--color-white);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

    padding-top: 60px;
}

.section-characters h2 span {
    color: var(--color-primary);
}

.container-cards-characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 40px 118px;
}

