header {
    width: 100%;
    height: 60px;
    background-color: #460146;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;
}

img {
    width: 60px;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

nav a:hover {
    background-color: #2a002a;
}

.wrapper {
    width: 30%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    height: fit-content;
    padding: 2px 15px;
    border: none;
    border-radius: 10px;
}